argocd-cm-patch.yaml
argocd-cm.yaml
argocd-rbac.yaml
argocd-redis.yaml
argocd-secret.yaml
patch-cm.yaml
patch-namespace.yaml
patch.yaml
values.yaml
argocd/argocd.exe
argocd/redis.yaml
helm-v4.1.0-windows-amd64/windows-amd64/helm.exe
helm-v4.1.0-windows-amd64/windows-amd64/LICENSE
helm-v4.1.0-windows-amd64/windows-amd64/README.md
k9s/k9s.exe
k9s/LICENSE
k9s/README.md
openshift/zugang.png
openshift/.crc/crc.json
openshift/.crc/crc.log
openshift/.crc/crcd.log
openshift/.crc/bin/oc/oc.exe
openshift/.crc/bin/podman/podman.exe
openshift/.crc/cache/crc_hyperv_4.20.5_amd64.crcbundle
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/crc-bundle-info.json
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/crc.vhdx
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/id_ecdsa_crc
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/kubeconfig
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/oc.exe
openshift/.crc/cache/crc_hyperv_4.20.5_amd64/podman.exe
openshift/.crc/machines/crc/.crc-exist
openshift/.crc/machines/crc/config.json
openshift/.crc/machines/crc/crc.vhdx
openshift/.crc/machines/crc/developer-password
openshift/.crc/machines/crc/id_ed25519
openshift/.crc/machines/crc/id_ed25519.pub
openshift/.crc/machines/crc/kubeadmin-password
openshift/.crc/machines/crc/kubeconfig
dockerfile
pull-secret
